.chat{
    padding: 0rem 15rem 13rem 15rem;
    color: white;
}
.chat-heading{
    margin-top: 20rem;
    text-align: center;
    color: white;
}
.userdiv{
    justify-content: center;
    align-items: flex-end;
    margin-top: 3rem;
    flex-direction: column;
    margin-bottom: 1rem;
    display: flex;
}
.userdiv:hover .editchat{
   visibility: visible;
}
.userresponse{
    background-color: rgb(23, 62, 118);
    border-radius: 50px;
    padding: 1rem 1rem;
    color: white;
}
.editchat{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    margin-bottom: 2rem;
    margin-top: 0.6rem;
    font-size: 0.9rem;
    visibility: hidden;
}
.editchat button{
    background-color: black;
    border:none;
    color:white;
}
.hljs{
    border-radius: 14px !important;
}
pre{
    white-space: pre-wrap;
}
textarea{
    width: 100%;
    height: 7rem;
    padding: 1rem 1rem;
    margin-top: 3rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    color: white;
    background-color: #262626;
    border: none;
    resize: none;
}
textarea:focus{
    outline: none;
    border: none;
}
.editcontainer{
    position: relative;
    
}
.editbuttons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    bottom: 4rem;
}
.editbuttons .cancel{
    margin-right: 1rem;
    border:none;
    background-color: rgba(0, 0, 0, 0.656);
    color: white;
    padding: 0.3rem 0.8rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    border: 0.2px solid rgba(154, 151, 151, 0.407) ;
}
.editbuttons .send{
    margin-right: 1rem;
    border:none;
    background-color: white;
    color: black;
    padding: 0.3rem 0.8rem;
    border-radius: 1rem;
    font-weight: 500;
}