
.chatwindow{
    width: 80%;
    box-sizing: border-box;
    position: relative;
    overflow-y: scroll;
    /* display: flex;
    flex */
}
.chatwindow::-webkit-scrollbar {
    width: 8px;
}
.chatwindow::-webkit-scrollbar-thumb {
    background-color: #262626;
    border-radius: 10px;
    height: 1rem;
}
.chatwindow::-webkit-scrollbar-thumb:hover{
    background-color: rgba(255, 255, 255, 0.763);
}
.input{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 100%;
    bottom: 1.5rem;
}
.input input{
    width: 60%;
    padding: 0.7rem 6rem 0.7rem 4rem;
    border-radius: 50px;
    border: none;
    background-color: #262626;
    color: rgba(255, 255, 255, 0.82);
    font-size: 1rem;
}
.input input:focus{
    outline: none;
    border: none;
}
.fileuploadbtn{
    position: relative;
    left: 3rem;
    background-color: #262626;
    z-index: 2;
    border: none;
}
.fileupload{
    color: rgba(255, 255, 255, 0.82);
}
.vocalbtn{
    position: relative;
    right: 5rem;
    background-color: #262626;
    z-index: 2;
    border: none;
}
.vocal{
    color: rgba(255, 255, 255, 0.82);
}
.sendbtn{
    position: relative;
    right: 4rem;
    background-color: #262626;
    z-index: 2;
    border: none;
}
.send{
    color: rgba(255, 255, 255, 0.82);
    font-size: 0.9rem;
}